{% extends 'uploadModel/base.html' %}
{% block title %}Home - Upload Models{% endblock %}
{% block home_content %}




<div class="container mt-5">
    <h1>Model Upload</h1>
    <!-- Upload Section -->

    {% block upload_form %}{% endblock %}

    <!-- Uploaded Models Section -->
    <div class="card">
        <div class="card-header">
            <h5>Uploaded Models</h5>
        </div>
        <div class="card-body">
            {% if models %}
                <div class="row">
                    {% for model in models %}
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">{{ model.model_name }}</h6>
                                    <p class="card-text text-muted">{{ model.upload_time|date:"M d, Y" }}</p>
                                    <a href="{% url 'view_model' model_id=model.id %}" class="btn btn-sm btn-outline-primary">View {{ model.model_name }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-muted">No models uploaded yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}